# Yelp API Project


## Introduction 

We've learned how to query the Yelp API, analyze JSON data and create basic visualizations. It's time to put those skills to work in order to create a project of your own! Taking things a step further, you'll also independently explore how to perform pagination in order to retrieve a full results set from the Yelp API.

## Objectives

You will be able to: 

* Practice using functions to organize your code
* Use pagination to retrieve all results from an API query
* Practice parsing data returned from an API query
* Practice interpreting visualizations of a dataset

# Task: Query Yelp for All Businesses in a Category and Analyze the Results

![restaurant counter with pizza](images/restaurant_counter.jpg)

Photo by <a href="https://unsplash.com/@jordanmadrid?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jordan Madrid</a> on <a href="/s/photos/pizza-restaurant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

## Overview

You've now worked with some API calls, but we have yet to see how to retrieve a more complete dataset in a programmatic manner. In this lab, you will write a query of businesses on Yelp, then use *pagination* to retrieve all possible results for that query. Then you will pre-process and analyze your data, leading to a presentation of your findings.

## Requirements

### 1. Make the Initial Request

Start by filling in your API key to make the initial request to the business search API. 

### 2. Add Pagination

Using loops and functions, collect the maximum number of results for your query from the API.

### 3. Prepare Data

Investigate the structure of the response you get back and extract the relevant information.

### 4. Perform Descriptive Analysis

Interpret visualizations related to the price range, average rating, and number of reviews for all query results.

### 5. Create Presentation Notebook

Edit this notebook or create a new one to showcase your work.

# 1. Make the Initial Request

## Querying

Start by making an initial request to the Yelp API. Your search must include at least 2 parameters: **term** and **location**. For example, you might search for pizza restaurants in NYC. The term and location is up to you but make the request below.

Use the `requests` library ([documentation here](https://requests.readthedocs.io/en/master/user/quickstart/#make-a-request)).

You'll also need an API key from Yelp. If you haven't done this already, go to the Yelp [Manage App page](https://www.yelp.com/developers/v3/manage_app) and create a new app (after making an account if you haven't already).

In [43]:
# Replace None with appropriate code

# Import the requests library

import requests


# Get this from the "Manage App" page. Make sure you set them
# back to None before pushing this to GitHub, since otherwise
# your credentials will be compromised# API copied and paste
api_key = "fpTGapITuo2yqRk9aHFJRQOmJDM36w07mR7I4c7onP0evIEol69nKhTdD97lgsg1BIEvm682KWaDDR4PGjTZZ6-cQQ3wlT96GzBPtytWuQOirM8pR00HYXtQaL4LYXYx"

# These can be whatever you want! But the solution uses "pizza"
# and "New York NY" if you want to compare your work directly
term = "pizza"
location = "New York NY"

# Set up params for request
url = "https://api.yelp.com/v3/businesses/search"
headers = {
    "Authorization": "Bearer {}".format(api_key)
}
url_params = {
    "term": term.replace(" ", "+"),
    "location": location.replace(" ", "+")
}

# Make the request using requests.get, passing in
# url, headers=headers, and params=url_params
response = requests.get(url,headers = headers, params = url_params)

# Confirm we got a 200 response
print(response.status_code)

200

In [44]:
print(requests.codes.ok)

200

In [45]:
# Run this cell without changes

# Get the response body in JSON format
response_json = response.json()
# View the keys
response_json.keys()

dict_keys(['businesses', 'total', 'region'])

In [46]:
print(response.text)

{"businesses": [{"id": "zj8Lq1T8KIC5zwFief15jg", "alias": "prince-street-pizza-new-york-2", "name": "Prince Street Pizza", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/ZAukOyv530w4KjOHC5YY1w/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/prince-street-pizza-new-york-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 3934, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "italian", "title": "Italian"}], "rating": 4.5, "coordinates": {"latitude": 40.72308755605564, "longitude": -73.99453001177575}, "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1": "27 Prince St", "address2": null, "address3": "", "city": "New York", "zip_code": "10012", "country": "US", "state": "NY", "display_address": ["27 Prince St", "New York, NY 10012"]}, "phone": "+12129664100", "display_phone": "(212) 966-4100", "distance": 1961.8771417367063}, {"id": "ysqgdbSrezXgVwER2kQWKA", "alias": "julianas-brooklyn-3", "name": "Juliana's", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/clscwgOF9_Ecq-Rwsq7jyQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/julianas-brooklyn-3?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2338, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude": 40.70274718768062, "longitude": -73.99343490196397}, "transactions": ["delivery"], "price": "$$", "location": {"address1": "19 Old Fulton St", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11201", "country": "US", "state": "NY", "display_address": ["19 Old Fulton St", "Brooklyn, NY 11201"]}, "phone": "+17185966700", "display_phone": "(718) 596-6700", "distance": 308.56984360837544}, {"id": "WIhm0W9197f_rRtDziq5qQ", "alias": "lombardis-pizza-new-york-4", "name": "Lombardi's Pizza", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/UZ6V_hobp1KpYDPOHNoCKw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/lombardis-pizza-new-york-4?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 6179, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.7215934960083, "longitude": -73.9955956044561}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "32 Spring St", "address2": "", "address3": "", "city": "New York", "zip_code": "10012", "country": "US", "state": "NY", "display_address": ["32 Spring St", "New York, NY 10012"]}, "phone": "+12129417994", "display_phone": "(212) 941-7994", "distance": 1798.9959778083735}, {"id": "Q9F2ocrmYuGt1yn3M7MOBw", "alias": "lucali-brooklyn-3", "name": "Lucali", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/Yl_eZ_DW_iaumnU-pfSoaw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/lucali-brooklyn-3?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 1697, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.6818, "longitude": -74.00024}, "transactions": ["delivery"], "price": "$$", "location": {"address1": "575 Henry St", "address2": null, "address3": "", "city": "Brooklyn", "zip_code": "11231", "country": "US", "state": "NY", "display_address": ["575 Henry St", "Brooklyn, NY 11231"]}, "phone": "+17188584086", "display_phone": "(718) 858-4086", "distance": 2677.3041083372636}, {"id": "WG639VkTjmK5dzydd1BBJA", "alias": "rubirosa-new-york-2", "name": "Rubirosa", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/LuSzR8cpVQRofXOT_bMi1A/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/rubirosa-new-york-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2420, "categories": [{"alias": "italian", "title": "Italian"}, {"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude": 40.722766, "longitude": -73.996233}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "235 Mulberry St", "address2": "", "address3": "", "city": "New York", "zip_code": "10012", "country": "US", "state": "NY", "display_address": ["235 Mulberry St", "New York, NY 10012"]}, "phone": "+12129650500", "display_phone": "(212) 965-0500", "distance": 1932.9467701334759}, {"id": "uc5qQMzs96rzjK27epDCug", "alias": "joes-pizza-new-york-4", "name": "Joe's Pizza", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/1TvTRG9HFmEGaTSBMcUBhA/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/joes-pizza-new-york-4?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2654, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.73055520355198, "longitude": -74.00211632377929}, "transactions": ["delivery"], "price": "$", "location": {"address1": "7 Carmine St", "address2": "", "address3": "", "city": "New York", "zip_code": "10014", "country": "US", "state": "NY", "display_address": ["7 Carmine St", "New York, NY 10014"]}, "phone": "+12123661182", "display_phone": "(212) 366-1182", "distance": 2868.92614912821}, {"id": "pGr5QuQU7Ur5GHLvXbT8bw", "alias": "paulie-gees-brooklyn", "name": "Paulie Gee's", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/1j39J4NABK_RBtO-l90QNg/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/paulie-gees-brooklyn?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 1279, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude": 40.729546, "longitude": -73.958568}, "transactions": ["delivery"], "price": "$$", "location": {"address1": "60 Greenpoint Ave", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11222", "country": "US", "state": "NY", "display_address": ["60 Greenpoint Ave", "Brooklyn, NY 11222"]}, "phone": "+13479873747", "display_phone": "(347) 987-3747", "distance": 4027.308250680752}, {"id": "v1DHGRNCH9247WLYoaoA9A", "alias": "l-industrie-pizzeria-brooklyn", "name": "L'industrie Pizzeria", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/SRL_RztRRUijgQwt67daGw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/l-industrie-pizzeria-brooklyn?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 586, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude": 40.71162, "longitude": -73.95783}, "transactions": ["delivery"], "price": "$", "location": {"address1": "254 S 2nd St", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11211", "country": "US", "state": "NY", "display_address": ["254 S 2nd St", "Brooklyn, NY 11211"]}, "phone": "+17185990002", "display_phone": "(718) 599-0002", "distance": 3145.016041338447}, {"id": "FhXjAc6nKLf414KxYujUHw", "alias": "robertas-brooklyn-2", "name": "Roberta's", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/8fY9fA5TtCF0ebdTNph9mQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/robertas-brooklyn-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2992, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "italian", "title": "Italian"}], "rating": 4.0, "coordinates": {"latitude": 40.70493, "longitude": -73.93399}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "261 Moore St", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11206", "country": "US", "state": "NY", "display_address": ["261 Moore St", "Brooklyn, NY 11206"]}, "phone": "+17184171118", "display_phone": "(718) 417-1118", "distance": 5083.5233118395545}, {"id": "LF1QAuvpfX7KGQlg2zMg6Q", "alias": "johns-of-bleecker-street-new-york-2", "name": "John's of Bleecker Street", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/9_3Eim0f4ttMZFxdNp-lVA/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/johns-of-bleecker-street-new-york-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2135, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.73158, "longitude": -74.00332}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "278 Bleecker St", "address2": "", "address3": "", "city": "New York", "zip_code": "10014", "country": "US", "state": "NY", "display_address": ["278 Bleecker St", "New York, NY 10014"]}, "phone": "+12122431680", "display_phone": "(212) 243-1680", "distance": 3010.899021476809}, {"id": "mGatsC5iEsJtxtIdHGvRQg", "alias": "frankie-and-vali-s-brooklyn", "name": "Frankie and Vali\u2019s", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/2Q-MaBfkM_yptvnS74CnAw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/frankie-and-vali-s-brooklyn?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 3, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 5.0, "coordinates": {"latitude": 40.68752, "longitude": -73.95442}, "transactions": [], "location": {"address1": "1063 Bedford Ave", "address2": "", "address3": null, "city": "Brooklyn", "zip_code": "11216", "country": "US", "state": "NY", "display_address": ["1063 Bedford Ave", "Brooklyn, NY 11216"]}, "phone": "", "display_phone": "", "distance": 3906.9200586022075}, {"id": "2ggi1luerd3Mf_C82JvCYg", "alias": "grimaldis-pizzeria-brooklyn-4", "name": "Grimaldi's Pizzeria", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/KnocNRTl04953MdDXH9y7Q/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/grimaldis-pizzeria-brooklyn-4?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 4670, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 3.5, "coordinates": {"latitude": 40.702583, "longitude": -73.9932413}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "1 Front St", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11201", "country": "US", "state": "NY", "display_address": ["1 Front St", "Brooklyn, NY 11201"]}, "phone": "+17188584300", "display_phone": "(718) 858-4300", "distance": 330.34746206527655}, {"id": "C8j0q4Ma_S5hBGuAI-aaww", "alias": "di-fara-pizza-brooklyn", "name": "Di Fara Pizza", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dfe9qpe20P-vi3qFjWd4Q/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/di-fara-pizza-brooklyn?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 3634, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.625093, "longitude": -73.961531}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "1424 Ave J", "address2": "", "address3": "", "city": "Brooklyn", "zip_code": "11230", "country": "US", "state": "NY", "display_address": ["1424 Ave J", "Brooklyn, NY 11230"]}, "phone": "+17182581367", "display_phone": "(718) 258-1367", "distance": 9352.269072867253}, {"id": "qoBcWhGwlcUsKIQ2nB22vA", "alias": "lombardos-of-bay-ridge-brooklyn-2", "name": "Lombardo's of Bay Ridge", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/dApR-oBFGa2kQIpmEeasfA/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/lombardos-of-bay-ridge-brooklyn-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 152, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 5.0, "coordinates": {"latitude": 40.634741, "longitude": -74.0284259}, "transactions": ["pickup"], "price": "$$", "location": {"address1": "279 71st St", "address2": null, "address3": "", "city": "Brooklyn", "zip_code": "11209", "country": "US", "state": "NY", "display_address": ["279 71st St", "Brooklyn, NY 11209"]}, "phone": "+17182387100", "display_phone": "(718) 238-7100", "distance": 8367.095256061873}, {"id": "_4_dslVqeefwxJ-ZNX6Pog", "alias": "baby-luc-s-brooklyn", "name": "Baby Luc\u2019s", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/kmvhRNakqeYsKeRRrCOAbQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/baby-luc-s-brooklyn?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 5, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 3.5, "coordinates": {"latitude": 40.68010063450117, "longitude": -73.99684270596433}, "transactions": [], "location": {"address1": "387 Court St", "address2": "", "address3": null, "city": "Brooklyn", "zip_code": "11231", "country": "US", "state": "NY", "display_address": ["387 Court St", "Brooklyn, NY 11231"]}, "phone": "", "display_phone": "", "distance": 2826.332053526049}, {"id": "0UdC0VYX6aAvLiOcpR4MVQ", "alias": "joes-pizza-new-york-7", "name": "Joe's Pizza", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/BTCcvlqxlp2MOeK_rHa8lQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/joes-pizza-new-york-7?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 944, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.73331, "longitude": -73.98763}, "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1": "150 E 14th St", "address2": "", "address3": "", "city": "New York", "zip_code": "10003", "country": "US", "state": "NY", "display_address": ["150 E 14th St", "New York, NY 10003"]}, "phone": "+12123889474", "display_phone": "(212) 388-9474", "distance": 3152.5373085823726}, {"id": "oJ_XSPZFpvIt6rvheSQl7A", "alias": "bleecker-street-pizza-new-york", "name": "Bleecker Street Pizza", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/Kyi2tP43S_a6s-zXD38NUQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/bleecker-street-pizza-new-york?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 2436, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "italian", "title": "Italian"}], "rating": 4.0, "coordinates": {"latitude": 40.7320627016512, "longitude": -74.0036552270137}, "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1": "69 7th Ave S", "address2": null, "address3": "", "city": "New York", "zip_code": "10014", "country": "US", "state": "NY", "display_address": ["69 7th Ave S", "New York, NY 10014"]}, "phone": "+12129244466", "display_phone": "(212) 924-4466", "distance": 3073.5742196084057}, {"id": "G77Q6kU-7qRefColCRTS0w", "alias": "robertas-brooklyn-5", "name": "Roberta's", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/LL2pMBF8nGtob11nKudndA/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/robertas-brooklyn-5?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 30, "categories": [{"alias": "pizza", "title": "Pizza"}], "rating": 4.0, "coordinates": {"latitude": 40.71618788546057, "longitude": -73.96651754323669}, "transactions": ["delivery", "pickup"], "location": {"address1": "6 Grand St", "address2": "", "address3": null, "city": "Brooklyn", "zip_code": "11249", "country": "US", "state": "NY", "display_address": ["6 Grand St", "Brooklyn, NY 11249"]}, "phone": "+17182782400", "display_phone": "(718) 278-2400", "distance": 2628.2809301068355}, {"id": "rZ9OFoSqy8u4WECfh--ylg", "alias": "marta-new-york-7", "name": "Marta", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/GOcIIE1qftipaHhFGAlLuw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/marta-new-york-7?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 903, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "italian", "title": "Italian"}], "rating": 4.0, "coordinates": {"latitude": 40.7445882, "longitude": -73.9847936}, "transactions": [], "price": "$$$", "location": {"address1": "29 E 29th St", "address2": "", "address3": "", "city": "New York", "zip_code": "10016", "country": "US", "state": "NY", "display_address": ["29 E 29th St", "New York, NY 10016"]}, "phone": "+12126513800", "display_phone": "(212) 651-3800", "distance": 4444.4428187583135}, {"id": "oOr6Ta5gZyDl6PyZ1cq7pg", "alias": "east-village-pizza-new-york", "name": "East Village Pizza", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/JiV117pdeH3hG6J91KfPeA/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/east-village-pizza-new-york?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w", "review_count": 376, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "italian", "title": "Italian"}], "rating": 4.0, "coordinates": {"latitude": 40.728199, "longitude": -73.985182}, "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1": "145 1st Ave", "address2": "", "address3": "", "city": "New York", "zip_code": "10003", "country": "US", "state": "NY", "display_address": ["145 1st Ave", "New York, NY 10003"]}, "phone": "+12125294545", "display_phone": "(212) 529-4545", "distance": 2643.8575043591286}], "total": 11800, "region": {"center": {"longitude": -73.99429321289062, "latitude": 40.70544486444615}}}

## Extracting Data

Now, retrieve the value associated with the `'businesses'` key, and inspect its contents.

In [47]:
# Replace None with appropriate code

# Retrieve the value from response_json
businesses = "businesses"

# View number of records
print(f"There are {len(businesses)} businesses in this response")

# View the first 2 records
print(businesses[:2])

There are 10 businesses in this response
bu

# 2. Add Pagination

Now that you are able to get one set of responses, known as a **page**, let's figure out how to request as many pages as possible.

## Technical Details

Returning to the Yelp API, the [documentation](https://www.yelp.com/developers/documentation/v3/business_search) also provides us details regarding the **API limits**. These often include details about the number of requests a user is allowed to make within a specified time limit and the maximum number of results to be returned. In this case, we are told that any request has a **maximum of 50 results per request** and defaults to 20. Furthermore, any search will be limited to a **total of 1000 results**. To retrieve all 1000 of these results, we would have to page through the results piece by piece, retrieving 50 at a time. Processes such as these are often referred to as pagination.

Also, be mindful of the **API** ***rate*** **limits**. You can only make **5000 requests per day** and are also can make requests too fast. Start prototyping small before running a loop that could be faulty. You can also use `time.sleep(n)` to add delays. For more details see https://www.yelp.com/developers/documentation/v3/rate_limiting.

In this lab, you will define a search and then paginate over the results to retrieve all of the results. You'll then parse these responses as a list of dictionaries (for further exploration) and create a map using Folium to visualize the results geographically.

## Determining the Total

Depending on the number of total results for your query, you will either retrieve all of the results, or just the first 1000 (if there are more than 1000 total).

We can find the total number of results using the `"total"` key:

In [48]:
# Run this cell without changes
response_json["total"]

11800

(This is specific to the implementation of the Yelp API. Some APIs will just tell you that there are more pages, or will tell you the number of pages total, rather than the total number of results. If you're not sure, always check the documentation.)

In the cell below, assign the variable `total` to either the value shown above (if it is less than 1000), or 1000.

In [49]:
# Replace None with appropriate code
total = 1000

### Calculating the Offsets

The documentation states in the parameters section:

> **Name**: `limit`, **Type:** int, **Description:** Optional. Number of business results to return. By default, it will return 20. Maximum is 50.

> **Name**: `offset`, **Type:** int, **Description:** Optional. Offset the list of returned business results by this amount.

So, to get the most results with the fewest API calls we want to set a limit of 50 every time. If, say, we wanted to get 210 total results, that would mean:

1. Offset of `0` (first 50 records)
2. Offset of `50` (second 50 records)
3. Offset of `100` (third 50 records)
4. Offset of `150` (fourth 50 records)
5. Offset of `200` (final 10 records)

In the cell below, create a function `get_offsets` that takes in a total and returns a list of offsets for that total. You can assume that there is a limit of 50 every time.

*Hint: you can use `range` ([documentation here](https://docs.python.org/3.3/library/stdtypes.html?highlight=range#range)) to do this in one line of code. Just make the returned result is a list.*

In [50]:
# Replace None with appropriate code
def get_offsets(total):
    """
    Get a list of offsets needed to get all pages
    of data up until the total
    """
    start = 0
    stop = total
    step = 50
    
    return list(range(start, stop, step))

Check that your function works below:

In [51]:
# Run this cell without changes
assert get_offsets(200) == [0, 50, 100, 150]
assert get_offsets(210) == [0, 50, 100, 150, 200]

### Putting It All Together

Recall that the following variable has already been declared for you:

In [52]:
# Run this cell without changes
url_params

{'location': 'New+York+NY', 'term': 'pizza'}

We'll go ahead and also specify that the limit should be 50 every time:

In [53]:
# Run this cell without changes
url_params["limit"] = 50

In order to modify the offset, you'll need to add it to `url_params` with the key `"offset"` and whatever value is needed.

In the cell below, write code that:

* Creates an empty list for the full prepared dataset
* Loops over all of the offsets from `get_offsets` and makes an API call each time with the specified offset
* Extends the full dataset list with each query's dataset

In [54]:
# Replace None with appropriate code


# Create an empty list for the full prepared dataset
full_dataset = []

for offset in get_offsets(total):
    # Add or update the "offset" key-value pair in url_params
    url_params['offset'] = 0
    
    # Make the query and get the response
    response = requests.get(url, headers=headers, params=url_params)
    
    # Get the response body in JSON format
    response_json = response.json()
     
       
    # Get the list of businesses from the response_json
    businesses =response_json['businesses']
    
    # Extend full_dataset with this list (don't append, or you'll get
    # a list of lists instead of a flat list)
    full_dataset += businesses

# Check the length of the full dataset. It will be up to `total`,
# potentially less if there were missing values
len(full_dataset)

1000

This code may take up to a few minutes to run.

If you get an error trying to get the response body in JSON format, try adding `time.sleep(1)` right after the `requests.get` line, so your code will sleep for 1 second between each API call.

# 3. Prepare Data

Now that we have all of our data, let's prepare it for analysis. It can be helpful to start this process by inspecting the raw data.

In [55]:
# Run this cell without changes

# View the first 2 records
full_dataset[:2]

[{'alias': 'prince-street-pizza-new-york-2',
  'categories': [{'alias': 'pizza', 'title': 'Pizza'},
   {'alias': 'italian', 'title': 'Italian'}],
  'coordinates': {'latitude': 40.72308755605564,
   'longitude': -73.99453001177575},
  'display_phone': '(212) 966-4100',
  'distance': 1961.8771417367063,
  'id': 'zj8Lq1T8KIC5zwFief15jg',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/ZAukOyv530w4KjOHC5YY1w/o.jpg',
  'is_closed': False,
  'location': {'address1': '27 Prince St',
   'address2': None,
   'address3': '',
   'city': 'New York',
   'country': 'US',
   'display_address': ['27 Prince St', 'New York, NY 10012'],
   'state': 'NY',
   'zip_code': '10012'},
  'name': 'Prince Street Pizza',
  'phone': '+12129664100',
  'price': '$',
  'rating': 4.5,
  'review_count': 3934,
  'transactions': ['delivery', 'pickup'],
  'url': 'https://www.yelp.com/biz/prince-street-pizza-new-york-2?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w'},
 {'alias': 'julianas-brooklyn-3',
  'categories': [{'alias': 'pizza', 'title': 'Pizza'}],
  'coordinates': {'latitude': 40.70274718768062,
   'longitude': -73.99343490196397},
  'display_phone': '(718) 596-6700',
  'distance': 308.56984360837544,
  'id': 'ysqgdbSrezXgVwER2kQWKA',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/clscwgOF9_Ecq-Rwsq7jyQ/o.jpg',
  'is_closed': False,
  'location': {'address1': '19 Old Fulton St',
   'address2': '',
   'address3': '',
   'city': 'Brooklyn',
   'country': 'US',
   'display_address': ['19 Old Fulton St', 'Brooklyn, NY 11201'],
   'state': 'NY',
   'zip_code': '11201'},
  'name': "Juliana's",
  'phone': '+17185966700',
  'price': '$$',
  'rating': 4.5,
  'review_count': 2338,
  'transactions': ['delivery'],
  'url': 'https://www.yelp.com/biz/julianas-brooklyn-3?adjust_creative=9QCSFrjBHPZxM3U81nlW0w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QCSFrjBHPZxM3U81nlW0w'}]

Write a function `prepare_data` that takes in a list of dictionaries like `businesses` and returns a copy that has been prepared for analysis:

1. The `coordinates` key-value pair has been converted into two separate key-value pairs, `latitude` and `longitude`
2. All other key-value pairs except for `name`, `review_count`, `rating`, and `price` have been dropped
3. All dictionaries missing one of the relevant keys or containing null values have been dropped

In other words, the final keys for each dictionary should be `name`, `review_count`, `rating`, `price`, `latitude`, and `longitude`.

Complete the function in the cell below:

In [132]:
# Replace None with appropriate code

def prepare_data(data_list):
    """
    This function takes in a list of dictionaries and prepares it
    for analysis
    """
    
    # Make a new list to hold results
    results = []

        
    for business_data in data_list:
            
#         # Make a new dictionary to hold prepared data for this business
        prepared_data = {}    
        # Extract name, review_count, rating, and price key-value pairs
        # from business_data and add to prepared_data
        # If a key is not present in business_data, add it to prepared_data
        # with an associated value of None
        prepared_data= {"latitude": business_data['coordinates']['latitude'],"longitude": business_data['coordinates']['longitude'],"name": business_data['name'],"review_count": business_data['review_count'],"rating": business_data['rating'],"price": business_data['price']}

        
        # Add to list if all values are present
        if all(prepared_data.values()):
            results.append(prepared_data)
    
    return results
    
# Test out function
prepared_businesses = prepare_data(full_dataset[:10])
prepared_businesses[:10]

[{'latitude': 40.72308755605564,
  'longitude': -73.99453001177575,
  'name': 'Prince Street Pizza',
  'price': '$',
  'rating': 4.5,
  'review_count': 3934},
 {'latitude': 40.70274718768062,
  'longitude': -73.99343490196397,
  'name': "Juliana's",
  'price': '$$',
  'rating': 4.5,
  'review_count': 2338},
 {'latitude': 40.7215934960083,
  'longitude': -73.9955956044561,
  'name': "Lombardi's Pizza",
  'price': '$$',
  'rating': 4.0,
  'review_count': 6179},
 {'latitude': 40.6818,
  'longitude': -74.00024,
  'name': 'Lucali',
  'price': '$$',
  'rating': 4.0,
  'review_count': 1697},
 {'latitude': 40.722766,
  'longitude': -73.996233,
  'name': 'Rubirosa',
  'price': '$$',
  'rating': 4.5,
  'review_count': 2420},
 {'latitude': 40.73055520355198,
  'longitude': -74.00211632377929,
  'name': "Joe's Pizza",
  'price': '$',
  'rating': 4.0,
  'review_count': 2654},
 {'latitude': 40.729546,
  'longitude': -73.958568,
  'name': "Paulie Gee's",
  'price': '$$',
  'rating': 4.5,
  'review_count': 1279},
 {'latitude': 40.71162,
  'longitude': -73.95783,
  'name': "L'industrie Pizzeria",
  'price': '$',
  'rating': 4.5,
  'review_count': 586},
 {'latitude': 40.70493,
  'longitude': -73.93399,
  'name': "Roberta's",
  'price': '$$',
  'rating': 4.0,
  'review_count': 2992},
 {'latitude': 40.73158,
  'longitude': -74.00332,
  'name': "John's of Bleecker Street",
  'price': '$$',
  'rating': 4.0,
  'review_count': 2135}]

Check that your function created the correct keys:

In [125]:
# Run this cell without changes

assert sorted(list(prepared_businesses[0].keys())) == ['latitude', 'longitude', 'name', 'price', 'rating', 'review_count']

The following code will differ depending on your query, but there may be fewer results in the prepared list than in the full dataset (if any of them were missing data):

In [126]:
# Run this cell without changes
print("Original:", len(full_dataset))
print("Prepared:", len(prepared_businesses))

Original: 1000
Prepared: 10

Great! Now let's create a DataFrame to hold our data - this will make our cleaning and analysis easier.

In [128]:
# Replace None with appropriate code

# Import pandas
import pandas as pd

# Create DataFrame from prepared business data
business_df = pd.DataFrame(prepared_businesses)

# Inspect the DataFrame
business_df.head(10)

    latitude  longitude                       name price  rating  review_count
0  40.723088 -73.994530        Prince Street Pizza     $     4.5          3934
1  40.702747 -73.993435                  Juliana's    $$     4.5          2338
2  40.721593 -73.995596           Lombardi's Pizza    $$     4.0          6179
3  40.681800 -74.000240                     Lucali    $$     4.0          1697
4  40.722766 -73.996233                   Rubirosa    $$     4.5          2420
5  40.730555 -74.002116                Joe's Pizza     $     4.0          2654
6  40.729546 -73.958568               Paulie Gee's    $$     4.5          1279
7  40.711620 -73.957830       L'industrie Pizzeria     $     4.5           586
8  40.704930 -73.933990                  Roberta's    $$     4.0          2992
9  40.731580 -74.003320  John's of Bleecker Street    $$     4.0          2135

To make analysis of prices easier, let's convert `price` to a numeric value indicating the number of dollar signs.

In [136]:
# Replace None with appropriate code
import pandas as pd
# Convert price to numeric
# business_df.describe()
# print(business_df.dtypes)

business_df[pd.to_numeric(business_df.price, errors='coerce').isnull()]

    latitude  longitude                       name price  rating  review_count
0  40.723088 -73.994530        Prince Street Pizza     $     4.5          3934
1  40.702747 -73.993435                  Juliana's    $$     4.5          2338
2  40.721593 -73.995596           Lombardi's Pizza    $$     4.0          6179
3  40.681800 -74.000240                     Lucali    $$     4.0          1697
4  40.722766 -73.996233                   Rubirosa    $$     4.5          2420
5  40.730555 -74.002116                Joe's Pizza     $     4.0          2654
6  40.729546 -73.958568               Paulie Gee's    $$     4.5          1279
7  40.711620 -73.957830       L'industrie Pizzeria     $     4.5           586
8  40.704930 -73.933990                  Roberta's    $$     4.0          2992
9  40.731580 -74.003320  John's of Bleecker Street    $$     4.0          2135

# 4. Perform Descriptive Analysis

## Descriptive Statistics

Take the businesses from the previous question and do an initial descriptive analysis. Calculate summary statistics for the review counts, average rating, and price.

In [130]:
# Replace None with appropriate code

# Calculate summary statistics for the review counts, average rating, and price
business_df[['review_count', 'rating','price']].describe()

       review_count     rating
count     10.000000  10.000000
mean    2621.400000   4.250000
std     1551.870284   0.263523
min      586.000000   4.000000
25%     1806.500000   4.000000
50%     2379.000000   4.250000
75%     2907.500000   4.500000
max     6179.000000   4.500000

Describe the results displayed above and interpret them in the context of your query. (Your answer may differ from the solution branch depending on your query.)

In [133]:
# Replace None with appropriate text
"""
None
"""
business_df.describe(include = "all")

         latitude  longitude              name price     rating  review_count
count   10.000000  10.000000                10    10  10.000000     10.000000
unique        NaN        NaN                10     2        NaN           NaN
top           NaN        NaN  Lombardi's Pizza    $$        NaN           NaN
freq          NaN        NaN                 1     7        NaN           NaN
mean    40.716023 -73.983586               NaN   NaN   4.250000   2621.400000
std      0.015820   0.024222               NaN   NaN   0.263523   1551.870284
min     40.681800 -74.003320               NaN   NaN   4.000000    586.000000
25%     40.706603 -73.999238               NaN   NaN   4.000000   1806.500000
50%     40.722180 -73.995063               NaN   NaN   4.250000   2379.000000
75%     40.727931 -73.967285               NaN   NaN   4.500000   2907.500000
max     40.731580 -73.933990               NaN   NaN   4.500000   6179.000000

## Histograms

Create histograms for the review counts, average rating, and price.

In [ ]:
# Replace None with your code
import matplotlib.pyplot as plt
%matplotlib inline

fig, (ax1, ax2, ax3) = plt.subplots(ncols=3, figsize=(16, 5))

# Plot distribution of number of reviews per business
all_review_counts = None

# Plot distribution of ratings across businesses
all_ratings = None

# Plot distribution of prices across businesses
all_prices = None

Describe the distributions displayed above and interpret them in the context of your query. (Your answer may differ from the solution branch depending on your query.)

In [ ]:
# Replace None with appropriate text
"""
None
"""

## Ratings vs. Price

Create a visualization showing the relationship between rating and price. You can do this a few different ways - one option could be to show the average price at each rating using a bar chart.

In [ ]:
# Replace None with your code


# Calculate average price for each rating
None

# Plot results
None

Is a higher price associated with a higher rating? (No need for any additional math/statistics, just interpret what you see in the plot.)

In [ ]:
# Replace None with appropriate text
"""
None
"""

## Ratings vs Review Counts

Finally, let's look at ratings vs. review counts. You can analyze this relationship similarly to ratings vs. price.

In [ ]:
# Replace None with your code

# Calculate average review count for each rating
rating_review_count = business_df.groupby('rating').agg({'review_count': 'mean'})

# Plot results
fig, ax = plt.subplots()
ax.bar(x = list(rating_review_count.index), height = list(rating_review_count['review_count']), width = 0.3)
ax.set_xlabel("Average Rating")
ax.set_ylabel("Average Review Count")

Is a higher number of reviews associated with a higher rating?

In [ ]:
# Replace None with appropriate text
"""
None
"""

## Level Up: Create a Folium Map

Make a map using Folium of the businesses you retrieved. Be sure to also add popups to the markers giving some basic information such as name, rating and price.

You can center the map around the latitude and longitude of the first item in your dataset.

In [ ]:
# Replace None with appropriate code

# Import the library
None

# Set up center latitude and longitude
center_lat = None
center_long = None

# Initialize map with center lat and long
yelp_map = None

# Adjust this limit to see more or fewer businesses
limit=100

for business in full_dataset[:limit]:
    # Extract information about business
    lat = None
    long = None
    name = None
    rating = None
    price = None
    details = "{}\nPrice: {} Rating:{}".format(name,price,rating)
    
    # Create popup with relevant details
    popup = None
    
    # Create marker with relevant lat/long and popup
    marker = None
    
    marker.add_to(yelp_map)
    
yelp_map

# 5. Create Presentation Notebook

Now that you've completed your project, let's put it into an easily presentable format so you can add it to your portfolio. To do this, we recommend completing the following steps outside of this notebook.

1. Create a new GitHub repository for your project.
2. Save a copy of this notebook into your local repository.
3. Edit the text and images in the notebook to present your project and help someone else understand it.
4. Run your notebook from start to finish, then **delete your API key** and save it.
5. Create a README.md file in your repository with a brief summary of your project.
6. Push your updated repository to GitHub to share with your instructor and employers!

# Level Up: Project Enhancements

After completing the project, you could consider the following enhancements if you have time:

* Save a cleaned version of your dataset in your repository, then modify the notebook to load and use that dataset for the analysis. This will allow others to replicate your analysis and avoid running their own API queries.
* Use `seaborn` to improve the styling of your visualizations
* Explain the implications of your findings for business owners or internal Yelp staff
* Repeat the project for another business category or location, and compare the results

# Summary

Nice work! In this lab, you've made multiple API calls to Yelp in order to paginate through a results set, prepared your data for analysis, and then conducted and visualized descriptive analyses. Well done!